<h1>Users#create</h1>
<p>Find me in app/views/users/create.html.erb</p>
<!-- file_field(:user, :avatar)
<%= link_to "Choose an Avatar", %>
label(:post, :privacy, "Public Post", value: "public")
# => <label for="post_privacy_public">Public Post</label>-->
