<h1>Choose your Starting Place</h1>
<h2>
  <ul>
    <p><%= link_to "I've never really thought about my mental health.", start_path %></p>
    <p>I've thought about it, but never tried anything.</p>
    <p>I worry sometimes that I could use help, but never find the time.</p>
      <li>I want to see a doctor</li>
      <li>I don't want to see a doctor</li>
    <p>I've been diagnosed but that's it.</p>
      <li>I don't want to medicate, but I want to take care of myself</li>
      <li>I'm considering medication</li>
    <p>I've been diagnosed and am medicated.</p>
      <li>I want to get to a point where I can reduce my medication</li>
      <li>I am happy with my medication, but I want to supplement it with other healthy habits</li>
      <li>I think I may not be on the right medication, or dosage</li>
  </ul>

