<h1>Rate each of your choices:</h1>
<%= render "/start" %>
<table>
  <thead>
    <tr>
      <th><strong>How hard is your daily acheivement goal? </strong></th>
    </tr>
  </thead>

  <tbody>
<% @levels.each do |game| %>
<tr>
<td><%= game.day %></td>
<button type="easy">Easy</button>
<button type="medium">Medium</button>
<button type="hard">Hard</button>
</tr>
<% end %>
